@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
.modal {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
  color: #475467;
  background-color: #f9fafb;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #101828;
}

a {
  text-decoration: none;
}

.authcover-bg {
  background-color: #f5f8ff;
}

.min-h-full {
  min-height: 100vh;
}

.authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.authentication-wrapper .app-brand {
  position: absolute;
  z-index: 1;
  inset-block-start: 2.5rem;
  inset-inline-start: 1.5rem;
}

.authinfo_slider {
  padding: 0 38px;
}
.authinfo_slider h2 {
  font-size: 2.15rem;
  line-height: 52px;
  margin-bottom: 30px;
  color: #344054;
  font-family: "Sofia Pro Bold";
  font-weight: normal;
}
.authinfo_slider p {
  font-size: 17px;
  padding: 0 5%;
  color: #667085;
  font-family: "Sofia Pro Light";
  font-weight: normal;
  min-height: 155px;
}

.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators [data-bs-target] {
  background-color: #eaecf0;
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  margin: 0 8px;
  opacity: 1;
}
.carousel-indicators .active {
  background-color: #3538cd;
}

.w-px-400 {
  width: 360px !important;
}

.authent-form h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 0.4rem;
  color: #344054;
  font-size: 14px;
  font-weight: 500;
}

.form-control {
  color: #344054;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  min-height: 44px;
  border-color: #d0d5dd;
}

.btn-primary {
  background-color: #444ce7 !important;
  border-radius: 8px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 8px 15px;
}
.btn-primary .spinner-border {
  width: 16px;
  height: 16px;
  border-width: 3px;
}

.btn-full {
  width: 100%;
  height: 44px;
}

.form-group {
  margin-bottom: 25px;
}

.text-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.resend_otp {
  font-size: 14px;
  margin-top: 5px;
}
.resend_otp .re-otpbtn {
  font-weight: 600;
  text-decoration: none;
}

.error {
  color: #f04438;
  font-size: 12px;
  margin: 1px 0 0 0;
}

.text-primery {
  color: #4c60e5 !important;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  opacity: 0.95;
  background-color: #c7d7fe !important;
  border-color: #c7d7fe !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.text-base {
  font-size: 14px;
}

.relative {
  position: relative;
}

.pass_eyeicon {
  position: absolute;
  right: 15px;
  top: 42px;
  cursor: pointer;
  font-size: 14px;
}

.forgot_pass {
  font-size: 14px;
  font-weight: 500;
}
.forgot_pass .forgot_btn {
  font-weight: 600;
}

.pass_instructor p {
  color: #100d37;
  font-size: 0.78rem;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.pass_instructor ul {
  margin: 0;
  padding: 0;
}
.pass_instructor ul li {
  list-style: none;
  color: #667085;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.pass_instructor ul li img {
  margin-right: 6px;
}
.pass_instructor ul li.active {
  color: #100d37;
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  height: 100%;
  width: 90px;
}
.sidebar-wrapper .sd_logo {
  text-align: center;
  padding: 20px 10px;
  min-height: 76px;
}
.sidebar-wrapper nav.sidebar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-wrapper nav.sidebar-menu ul li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  font-size: 12px;
  font-weight: 500;
  color: #667085;
}
.sidebar-wrapper nav.sidebar-menu ul li.active {
  background-color: #f5f8ff;
  border-right: solid 3px #6172F3;
}
.sidebar-wrapper nav.sidebar-menu ul li.active span {
  color: #6172F3;
}

.main_header {
  position: fixed;
  background-color: #fff;
  right: 0;
  width: calc(100% - 90px);
  box-shadow: none;
  z-index: 99;
}

.page-body {
  margin-left: 90px;
  padding-top: 80px;
  padding-left: 15px;
}

.header-wrapper.row {
  padding: 16px 35px;
  display: flex;
  align-items: center;
}
.header-wrapper.row .org_name {
  display: flex;
  align-items: center;
}
.header-wrapper.row .org_name span {
  background-color: #eef4ff;
  border: solid 1px #a4bcfd;
  font-size: 16px;
  color: #2d3282;
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  overflow: hidden;
}
.header-wrapper.row .org_name span img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-wrapper.row .org_name p {
  margin: 0 0 0 10px;
  font-size: 14px;
  color: #344054;
  font-weight: 600;
}
.header-wrapper.row .header_serach .form-control {
  min-height: 40px;
  border-color: #d0d5dd;
  border-radius: 4px;
}
.header-wrapper.row .header_serach .btn, .header-wrapper.row .header_serach .input-group-text {
  background-color: transparent !important;
  border-color: #d0d5dd;
  border-right: transparent;
  border-radius: 4px;
}

.header_right {
  display: flex;
  justify-content: end;
}
.header_right button.hed_notifaction {
  border: none;
  background-color: transparent;
  margin-right: 12px;
  padding: 10px;
  position: relative;
}
.header_right .hed_username {
  background-color: #f2f4f7 !important;
  border: solid 1px #d8d8d8;
  font-size: 16px;
  color: #475467;
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  overflow: hidden;
}
.header_right .hed_username:hover, .header_right .hed_username:active {
  color: #475467;
  border-color: #d8d8d8;
}
.header_right .hed_username::after {
  content: inherit;
}
.header_right .hed_username img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header_right .dropdown-menu {
  border-color: #eaecf0;
  border-radius: 8px;
  min-width: 240px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  padding: 0;
}
.header_right .dropdown-menu .hd_srtname {
  background-color: #f2f4f7;
  border: solid 1px #d8d8d8;
  font-size: 16px;
  color: #475467;
  font-weight: 600;
  flex: 0 0 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  position: relative;
}
.header_right .dropdown-menu .hd_srtname .urg_stuts {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 2px #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.header_right .dropdown-menu .hd_srtname .urg_stuts.active {
  background-color: #17b26a;
}
.header_right .dropdown-menu .hd_srtname img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header_right .dropdown-menu .usr_info {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  font-weight: 400;
  font-size: 13px;
  color: #344054;
}
.header_right .dropdown-menu .usr_info a {
  color: #475467;
}
.header_right .dropdown-menu .d-flex {
  padding: 11px 12px;
  border-bottom: solid 1px #eaecf0;
}
.header_right .dropdown-menu .dropdown-item {
  color: #344054;
}
.header_right .dropdown-menu .dropdown-item img {
  margin-right: 10px;
}
.header_right .dropdown-menu .dropdown-item:last-child {
  border-top: solid 1px #eaecf0;
}

ol.breadcrumb {
  margin: 15px 0;
}

.breadcrumb-item {
  font-weight: 600;
  text-transform: capitalize;
}
.breadcrumb-item svg {
  margin-right: 5px;
}

.breadcrumb-item.active {
  color: #101828;
}

.h1_welcometext {
  text-align: center;
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  color: #475467;
  padding-bottom: 15px;
  border-bottom: solid 1px #d0d5dd;
  margin-bottom: 30px;
}
.h1_welcometext strong {
  color: #101828;
}

.mdt_card.card {
  border-color: #eaecf0;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
}
.mdt_card.card .card-title {
  font-size: 14px;
  color: #475467;
  font-weight: 400;
  margin: 18px 0;
}
.mdt_card.card span.mdt_name {
  background-color: #eef4ff;
  border: solid 1px #a4bcfd;
  font-size: 16px;
  color: #2d3282;
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  margin: auto;
}
.mdt_card.card .btn-primary {
  min-width: 200px;
  margin-top: 4px;
}

.com_infotext {
  padding: 20px 40px 0 45px;
}
.com_infotext p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #667085;
  margin-top: 15px;
}

.modal-dialog.modal-lg .modal-content {
  border-radius: 0;
}

.model_sidebar {
  width: 11%;
  height: 100vh;
  border-right: solid 1px #eaecf0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 999999;
  background-color: #fff;
}
.model_sidebar .md_sdrlogo {
  padding: 25px 30px;
  height: 80px;
}
.model_sidebar .mdl_sdbarmenu .nav-item .nav-link {
  padding: 15px 25px;
  font-size: 12px;
  font-weight: 600;
  color: #344054;
  display: flex;
  flex-direction: column;
  line-height: 22px;
  border-radius: 0;
}
.model_sidebar .mdl_sdbarmenu .nav-item .nav-link span {
  font-weight: 400;
  color: #667085;
}
.model_sidebar .mdl_sdbarmenu .nav-item .nav-link.active {
  background-color: #f5f8ff;
  border-right: solid 3px #6172F3;
  color: #6172F3;
}

.addUserguide {
  max-height: 380px;
  overflow-y: auto;
}

.cprofile_right {
  width: 65%;
  padding-left: 0;
  background-color: #f9fafb;
  margin-left: 11%;
  padding-top: 75px;
  margin-right: 25%;
  padding-left: 10px;
}

.sd-rightFixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 24%;
  height: 100vh;
  padding-top: 80px;
  z-index: 99;
  background-color: #ffffff;
  border-left: solid 1px #eaecf0;
}

.usermanagement_panel .bottom-fixed {
  padding: 0 15px;
}

.modal-header {
  box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1098039216);
  border: none;
  padding: 22px 20px;
  background-color: #fff;
  border-radius: 0;
  z-index: 999;
}
.modal-header.fixed-header {
  height: 79px;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal-header .modal-title {
  color: #101828;
  font-weight: 600;
  font-size: 18px;
  position: relative;
}
.modal-header .modal-title .subtitle {
  color: #667085;
  font-size: 12px;
  font-weight: 500;
  display: block;
}
.modal-header .modal-title .edit-btnicon {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}
.modal-header .view-btnicon {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: solid 1px #d0d5dd;
  background-color: #fff;
  font-size: 12px;
  color: #344054;
  position: absolute;
  right: 85px;
}

.btn-link {
  font-size: 16px;
  color: #3538cd;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  padding: 8px 15px;
}

.mdl_pagetitle {
  margin-bottom: 15px;
}
.mdl_pagetitle h5 {
  font-size: 16px;
}
.mdl_pagetitle .btn {
  font-size: 13px;
  padding: 8px 14px;
}
.mdl_pagetitle .btn svg {
  width: 17px;
  height: 17px;
}
.mdl_pagetitle .input-group {
  max-width: 250px;
}
.mdl_pagetitle .input-group .btn {
  background-color: #fff !important;
  border-color: #d0d5dd;
  padding: 8px 11px !important;
  border-radius: 4px;
  border-right: none;
}
.mdl_pagetitle .input-group .form-control {
  min-height: 38px;
  border-radius: 4px;
  font-weight: 400;
  padding-left: 0;
  font-size: 13px;
}

.shadow-md {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
}

.border-light {
  border: solid 1px #eaecf0;
}

.me-2_5 {
  margin-right: 12px;
}

.sm-fcontrol {
  min-height: 34px;
  font-size: 12px;
  border-radius: 6px;
}

.btn-transpant {
  background-color: transparent !important;
  border: transparent !important;
}

.my-2-5 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.cmprofile_mdl .modal-header {
  width: 89%;
}
.cmprofile_mdl .modal-body {
  padding: 1.15rem;
}

.form_card {
  border-color: #eaecf0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
  min-height: 555px;
}

.required.form-label:after {
  content: "*";
  color: red;
  right: -10px;
  position: absolute;
  top: 0px;
}

label.required.form-label {
  position: relative;
}

.form-select {
  color: #344054;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  min-height: 44px;
  border-color: #d0d5dd;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  outline: none;
}

.form_card .form-label {
  margin-bottom: 0.3rem;
  font-size: 12px;
  font-weight: 600;
}
.form_card .form-control,
.form_card .form-select {
  font-size: 12px;
  min-height: 36px;
}
.form_card .words_limit {
  font-size: 12px;
  text-align: left !important;
  margin-top: 50px !important;
}
.form_card .mb-3 {
  margin-bottom: 0.5rem !important;
}

.text-sm {
  font-size: 12px;
}

.ctm_dropdown {
  border: solid 1px #d0d5dd;
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto;
}
.ctm_dropdown ul {
  margin: 0;
  padding: 0 4px;
}
.ctm_dropdown ul li {
  list-style: none;
  padding: 10px 15px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  color: #344054;
  border-radius: 8px;
}
.ctm_dropdown ul li:hover {
  background-color: #f9fafb;
  color: #344054;
}

.cmp_details .accordion,
.cmp_details .accordion-item {
  background-color: transparent;
}
.cmp_details .accordion-button {
  background-color: transparent;
  color: #475467;
  font-size: 13px;
  font-weight: 600;
  padding: 0.9rem;
  border-bottom: solid 1px #eaecf0;
}
.cmp_details .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.cmp_details .accordion-button::after {
  background-size: 75%;
  background: none;
}
.cmp_details .cmp_textlogo {
  background-color: #eef4ff;
  border: solid 1px #a4bcfd;
  font-size: 24px;
  color: #2d3282;
  font-weight: 600;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  overflow: hidden;
}
.cmp_details .cmp_textlogo img {
  width: 72px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cmp_details .cmp_info {
  margin: 15px 0 0 0;
  padding: 0 0 15px 0;
  border-bottom: solid 1px #eaecf0;
  max-height: 250px;
  overflow-y: auto;
  min-height: 230px;
}
.cmp_details .cmp_info li {
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  color: #667085;
  line-height: 24px;
}
.cmp_details .rects-panel h5 {
  color: #475467;
  font-size: 13px;
  font-weight: 600;
  padding: 0.9rem;
  border-bottom: solid 1px #eaecf0;
}
.cmp_details p {
  font-size: 13px;
  font-weight: 400;
  color: #667085;
  line-height: 24px;
}

.rects-panel.bottom-fixed {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.06);
  margin-left: -15px;
  margin-right: -15px;
}
.rects-panel .rects_list {
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #eaecf0;
}
.rects-panel .rects_list li {
  background-color: #f3f5f7;
  padding: 6px 8px;
  border-radius: 16px;
  border: solid 1px #eaecf0;
  font-size: 13px;
  font-weight: 600;
  color: #344054;
  list-style: none;
  margin: 12px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rects-panel .rects_list li img {
  margin-right: 4px;
}
.rects-panel .rects_list li.active {
  color: #3538cd;
  background-color: #eef4ff;
  border-color: #c7d7fe;
}
.rects-panel .flter_count {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 10px 14px 0 14px;
  font-weight: 600;
}

.link-sm {
  font-size: 12px;
}

button.btn-link-muted {
  color: #475467;
  font-weight: 500;
}
button.btn-link-muted svg {
  margin-right: 5px;
}

.btn-link:disabled {
  color: #98a2b3;
  background-color: transparent !important;
  border: none;
}
.btn-link:disabled svg path {
  stroke: #98a2b3;
}

.table tr th {
  font-size: 12px;
  font-weight: 600;
  color: #475467;
}
.table tr td {
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
  color: #475467;
}
.table .form-check-input {
  width: 16px;
  height: 16px;
}

.form-switch .form-check-input {
  height: 1.4em;
  width: 2.4em;
}

.btn-light {
  background-color: #eef4ff !important;
  border-radius: 8px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 8px 15px;
  color: #444ce7;
  border-color: #444ce7;
}

.btn-sm {
  font-size: 12px;
}

.hadding_h5 {
  color: #475467;
  font-size: 13px;
  font-weight: 600;
  padding: 0.9rem;
  border-bottom: solid 1px #eaecf0;
}

.bullet_list {
  padding-top: 10px;
  padding-bottom: 10px;
}
.bullet_list li {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.ql-toolbar.ql-snow {
  background-color: #f9fafb;
  border-radius: 8px 8px 0 0;
}

.ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
}

/**=========SCROLLBAR-CSS==========**/
/* width */
.ct_scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.ct_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(213, 213, 213);
  border-radius: 8px;
}

/* Handle */
.ct_scrollbar::-webkit-scrollbar-thumb {
  background: #c7d7fe;
  border-radius: 8px;
}

/* Handle on hover */
.ct_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444ce7;
}

.ctm_modal_dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.ctm_modal_dialog .modal-header {
  box-shadow: none;
  border-bottom: solid 1px #eaecf0;
}
.ctm_modal_dialog .modal-title {
  display: flex;
  align-items: center;
}
.ctm_modal_dialog .ctm_modal_content {
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  width: 900px;
}
.ctm_modal_dialog .aspect_ratio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}
.ctm_modal_dialog .aspect_ratio label {
  margin-right: 15px;
}
.ctm_modal_dialog .aspect_ratio input[type=radio] {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}
.ctm_modal_dialog .cropper-container {
  background-color: #eaecf0;
  border-radius: 16px;
  overflow: hidden;
  padding: 30px;
  min-height: 335px;
}
.ctm_modal_dialog .cropper-wrap-box {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
}
.ctm_modal_dialog .zoomin_cntrols {
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  top: -45px;
}
.ctm_modal_dialog .zoomin_cntrols .icon_btn {
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #344054;
  margin: 0 15px;
  font-weight: 600;
}

.confirmation_model {
  background-color: rgba(242, 244, 247, 0.8);
}
.confirmation_model .modal-content {
  overflow: hidden;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
}
.confirmation_model .modal-header {
  box-shadow: none;
}
.confirmation_model .modal-body h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}
.confirmation_model .modal-footer {
  justify-content: space-between;
  border: none;
}
.confirmation_model .modal-footer .btn {
  width: 47%;
  min-height: 45px;
}

.selected_logo {
  border: solid 1px #d0d5dd;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selected_logo label {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  padding: 6px 15px;
  max-width: 80%;
}
.selected_logo .btn {
  padding: 10px 8px;
}

.action_dropdown .dropdown-menu.show {
  inset: 0px auto auto -130px !important;
  border: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.14);
  font-size: 12px;
}
.action_dropdown .dropdown-menu.show .dropdown-item {
  color: #344054;
  font-weight: 500;
  padding: 5px 12px;
}

.defult_serachbox .btn {
  background: #fff !important;
  border-right: 0;
  border-color: #d0d5dd;
}
.defult_serachbox .form-control {
  padding-left: 0;
  min-height: 40px;
}

.card .card-header {
  background-color: #fff;
  border-bottom: solid 1px #eaecf0;
}

.btn-lightGray {
  background-color: #fcfcfd !important;
}

.head_filterlist {
  margin: 0;
  padding: 0;
  border: solid 1px #d0d5dd;
  border-radius: 8px;
  display: inline-block;
  list-style: none;
  overflow: hidden;
}
.head_filterlist li {
  font-size: 12px;
  color: #344054;
  border-right: solid 1px #d0d5dd;
  padding: 10px 15px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}
.head_filterlist li.active {
  background-color: #f9fafb;
}
.head_filterlist li:last-child {
  border: none;
}

.font-weight-600 {
  font-weight: 600;
}

.queMain_panel {
  height: 100vh;
}

.elv_datatable {
  border: solid 1px #eaecf0;
  border-radius: 8px;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}
.elv_datatable tr th {
  padding: 12px 10px;
  line-height: 20px;
}
.elv_datatable tr td {
  padding: 10px 10px;
}
.elv_datatable tr td img {
  max-width: 16px;
  max-height: 16px;
}
.elv_datatable tr td .progress {
  height: 8px;
  width: 40px;
  margin-left: 8px;
}
.elv_datatable tr td .passratio {
  display: flex;
  align-items: center;
}
.elv_datatable tr td.avgscore img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
.elv_datatable tr td .btn {
  padding: 0 5px;
}
.elv_datatable tr td.action {
  text-align: center;
}
.elv_datatable tr th,
.elv_datatable tr td {
  border: none;
}

.action_dropdown .dropdown-menu.show {
  inset: inherit !important;
  border: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.14);
  font-size: 12px;
  transform: inherit !important;
  right: 15px !important;
  top: 30px !important;
}
.action_dropdown .dropdown-menu.show .dropdown-item {
  color: #344054;
  font-weight: 500;
  padding: 7px 15px;
}
.action_dropdown .btn-transpant::after {
  content: inherit;
}

.btn-light-outline {
  background-color: #fff !important;
  border-radius: 8px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 8px 15px !important;
  color: #344054;
  border-color: #d0d5dd;
}
.btn-light-outline:hover {
  border-color: #444ce7;
  color: #fff;
  background-color: #444ce7 !important;
}

.pagination_count {
  color: #344054;
  font-weight: 500;
  font-size: 13px;
}

.progress-bar {
  background-color: #4c60e5;
}

.outline_scorebtn {
  border: solid 1px #d0d5dd;
  background-color: #fff;
  padding: 9px 12px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  margin-bottom: 2px;
  display: inline-block;
  min-width: 65px;
}
.outline_scorebtn img {
  margin-right: 5px;
  vertical-align: text-top;
}

.font-13 {
  font-size: 13px;
}

.font-sm {
  font-size: 12px;
  font-weight: 400;
}

.text-muted {
  color: #667085 !important;
}

.score_panel ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.score_panel ul li {
  list-style: none;
  margin-left: 10px;
  text-align: center;
  position: relative;
}
.score_panel ul li .text-muted {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  min-width: 65px;
}

.h-36 {
  min-height: 36px;
}

.quizDev_model .modal-header {
  position: fixed;
  width: 100%;
  top: 0;
}
.quizDev_model .modal-header .btn-close {
  position: relative;
  right: 25px;
}
.quizDev_model .modal-content {
  background-color: #fcfcfd !important;
  padding-top: 78px;
}
.quizDev_model .queLeft_panel {
  background-color: #fff;
  border-right: solid 1px #eaecf0;
  position: fixed;
  left: 0;
  padding: 0px;
  width: 255px;
  height: 100%;
}

.queLeft_panel .nav-link {
  border-radius: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}
.queLeft_panel .nav-link h5 {
  font-size: 14px;
  color: #475467;
  font-weight: 600;
}
.queLeft_panel .nav-link p {
  font-size: 12px;
  font-weight: 400;
  color: #667085;
  margin: 8px 0 4px 0;
}
.queLeft_panel .nav-link.active {
  background-color: #f9fafb;
  border-bottom: solid 1px #eaecf0;
  color: #475467;
}
.queLeft_panel .qs_numlist {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.queLeft_panel .qs_numlist li {
  list-style: none;
  margin: 3px;
}
.queLeft_panel .qs_numlist li .qs_count {
  width: 24px;
  height: 24px;
  border: solid 1px #d0d5dd;
  border-radius: 4px;
  color: #1d2939;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}

.que_mainsection {
  padding: 25px 14px 0 65px;
}

.queRight_panel {
  background-color: #fff;
  padding: 15px;
  position: fixed;
  right: 0;
  height: 100%;
  width: 255px;
}
.queRight_panel h5 {
  font-size: 16px;
  color: #667085;
}
.queRight_panel .bullet_list {
  padding-left: 15px;
}
.queRight_panel .bullet_list li {
  color: #667085;
  line-height: 18px;
}
.queRight_panel .bullet_list li + li {
  margin: 8px 0;
}

.que_head {
  background-color: #f5f8ff;
  border: solid 1px #e0eaff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.que_head h6 {
  color: #444ce7;
  font-size: 14px;
}
.que_head span {
  font-size: 14px;
  color: #475467;
}
.que_head p {
  font-size: 13px;
  color: #1d2939;
  margin: 0;
}
.que_head.ellipsis p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.que_head strong.qus_number {
  background-color: #6172f3;
  width: 35px;
  height: 45px;
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 15px;
  left: -36px;
  text-align: center;
  line-height: 45px;
  color: #fff;
}

select.h-36.form-select {
  font-size: 13px;
}

.py-4-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.quetions_list {
  counter-reset: mycounter;
}
.quetions_list .accordion-button::after {
  content: inherit;
}
.quetions_list .accordion-header {
  padding: 8px;
}
.quetions_list .accordion-header .que_points img {
  max-width: 17px;
  margin-left: 4px;
}
.quetions_list .accordion-header .accordion-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  color: #1d2939;
  border-radius: 8px !important;
  padding: 10px 12px;
  box-shadow: none;
  font-weight: 500;
}
.quetions_list .accordion-header .accordion-button:hover, .quetions_list .accordion-header .accordion-button:focus, .quetions_list .accordion-header .accordion-button:active {
  box-shadow: none;
  outline: none;
}
.quetions_list .accordion-header .accordion-button .question {
  position: relative;
  flex: 0 0 89%;
}
.quetions_list .accordion-header .accordion-button .question::after {
  width: 6px;
  height: 6px;
  background-color: #f97066;
  border-radius: 4px;
  content: "";
  position: absolute;
  right: -12px;
  top: 5px;
}
.quetions_list .accordion-header .accordion-button .que_points {
  flex: 0 0 11%;
  text-align: right;
}
.quetions_list .accordion-header .accordion-button:not(.collapsed) {
  background-color: #f9fafb;
  padding: 12px;
}
.quetions_list .accordion-item {
  border: solid 1px #f2f4f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  margin-top: 15px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  min-height: 53px;
}
.quetions_list .accordion-item::before {
  content: counter(mycounter);
  counter-increment: mycounter;
  background-color: #eef4ff;
  width: 35px;
  height: 53px;
  position: absolute;
  left: -36px;
  top: 0;
  border-radius: 8px 0 0 8px;
  text-align: center;
  line-height: 53px;
}
.quetions_list .accordion-item .accordion-body {
  padding-top: 5px;
  padding-bottom: 0;
}
.quetions_list .accordion-item .accordion_footer {
  display: flex;
  align-items: center;
  border-top: solid 1px #d0d5dd;
  padding: 10px 0;
  font-size: 13px;
  margin-top: 15px;
  justify-content: space-between;
}
.quetions_list .accordion-item .accordion_footer p {
  margin: 0;
}
.quetions_list .accordion-item .accordion_footer .form-check {
  min-height: auto;
}
.quetions_list .accordion-item .accordion_footer .form-check input[type=checkbox] {
  height: 15px;
  width: 15px;
}

.que_options {
  margin: 0;
  padding: 0;
}
.que_options li {
  list-style: none;
  margin: 10px 0;
}
.que_options .form-check-label {
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}
.que_options .form-check-input:checked {
  background-color: #17b26a;
  border-color: #17b26a;
}

.qus_numbered {
  list-style: none;
  margin: 0;
  padding: 0;
}
.qus_numbered li {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding: 6px 0;
  position: relative;
}
.qus_numbered li::before {
  content: "\f107";
  font-family: "FontAwesome";
  color: #17b26a;
  position: absolute;
  bottom: -12px;
  left: 3px;
}
.qus_numbered li::after {
  content: "";
  background-color: #a4bcfd;
  height: 6px;
  width: 1px;
  bottom: 1px;
  left: 8px;
  position: absolute;
}
.qus_numbered li:last-child::before, .qus_numbered li:last-child::after {
  content: inherit;
}
.qus_numbered li .option_count {
  background-color: #ecfdf3;
  border: solid 1px #47cd89;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: #47cd89;
  font-size: 12px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  font-weight: 500;
}

.font-light {
  font-weight: 400;
}

.que_attachment {
  background-color: #fcfcfd;
  border: solid 1px #eaecf0;
  border-radius: 8px;
  padding: 8px;
  display: inline-block;
  position: relative;
}
.que_attachment h6 {
  color: #1d2939;
  font-size: 12px;
}
.que_attachment h6 img {
  margin-right: 5px;
  max-width: 18px;
}
.que_attachment .text-muted {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 0;
}
.que_attachment .text-muted .att_img {
  background-color: #fff;
  border: solid 1px #d0d5dd;
  color: #344054;
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 400;
  margin-right: 4px;
  font-size: 11px;
}
.que_attachment input.attbtn {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.qus_crossed {
  margin: 0;
  padding: 0 0 0 20px;
}
.qus_crossed li {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding: 7px 0;
  position: relative;
  list-style: decimal;
  list-style-type: decimal;
}
.qus_crossed li img {
  position: relative;
  width: 125px;
  left: -10px;
}
.qus_crossed li .crossd_answarp {
  max-width: 310px;
  display: flex;
  justify-content: space-between;
}
.qus_crossed li .crossd_answarp .crossd_ans {
  text-align: left;
  min-width: 75px;
}

.model-md .modal-dialog {
  max-width: 700px;
  border-radius: 0;
}

.instructions_mdl .modal-content {
  border-radius: 0;
}
.instructions_mdl .modal-content h4 {
  font-size: 20px;
  color: #344054;
  margin: 0;
}
.instructions_mdl .modal-content p {
  font-size: 13px;
  line-height: 20px;
  color: #344054;
  margin: 12px 0;
}
.instructions_mdl .modal-body {
  padding: 25px;
}
.instructions_mdl .modal-header {
  border-radius: 0;
  box-shadow: none;
  padding: 0px;
}
.instructions_mdl .modal-header .btn-close {
  position: relative;
  right: 15px;
  top: 15px;
  font-size: 13px;
}
.instructions_mdl .border_hadding {
  font-size: 14px;
  color: #344054;
  border-left: solid 4px #4c60e5;
  font-weight: 700;
  padding-left: 8px;
  margin: 30px 0 0 0;
}
.instructions_mdl ul {
  margin: 10px 0 30px 0;
  padding: 0 0 0 26px;
}
.instructions_mdl ul li {
  font-size: 13px;
  color: #344054;
  line-height: 22px;
}

.inst_iconbox {
  background-color: #fcfcfd;
  border: solid 1px #f2f4f7;
  box-shadow: 0 2px 4px rgba(16, 24, 40, 0.0509803922);
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  margin-top: 22px;
}
.inst_iconbox .inst_icon {
  background-color: #eef4ff;
  border: solid 1px #c7d7fe;
  padding: 15px;
  border-radius: 8px;
  display: block;
}
.inst_iconbox label {
  font-size: 12px;
  font-weight: 400;
  display: block;
  margin: 5px 0;
  color: #475467;
}
.inst_iconbox h4 {
  font-size: 18px !important;
  margin-bottom: 5px !important;
}
.inst_iconbox.disabled {
  filter: grayscale(1);
  opacity: 0.7;
}

.btn-md {
  font-weight: 600;
  font-size: 0.8rem;
}

.inline-checkbox {
  display: inline-block;
  vertical-align: middle;
}
.inline-checkbox .form-check-input {
  margin-top: 0;
}

.mw-16 {
  max-width: 17px;
}

.joblist_filter {
  margin-bottom: 15px;
}
.joblist_filter .jobs_count {
  font-size: 13px;
  font-weight: 600;
  color: #344054;
}

.btn-light-outline {
  background-color: #fff !important;
  border-radius: 8px;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 10px 18px !important;
  color: #344054;
  border-color: #d0d5dd;
}

.offcanvas-header {
  border-bottom: solid 1px #eaecf0;
  padding-left: 30px;
  padding-right: 30px;
}
.offcanvas-header .applied_count {
  font-size: 13px;
  color: #101828;
  font-weight: 500;
  margin-left: 30%;
}
.offcanvas-header .btn-close {
  border: solid 2px #000;
  font-size: 8px;
  color: #000;
  opacity: 1;
  padding: 6px;
  margin-left: 20px;
}
.offcanvas-body {
  padding: 15px 30px;
}
.offcanvas-title {
  font-size: 18px;
  color: #101828;
  font-weight: 600;
}
.offcanvas-title img {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}
.offcanvas-footer {
  padding: 10px 30px;
  border-top: solid 1px #eaecf0;
}
.offcanvas-footer .btn {
  font-size: 12px;
}
.offcanvas.lg-drawer {
  width: 800px;
}
.offcanvas.lg-drawer .btn-close {
  margin-left: auto;
}
.offcanvas .form-control,
.offcanvas .form-select {
  font-size: 12px;
  min-height: 36px;
}
.offcanvas .form-label {
  font-size: 12px;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.offcanvas .ql-container {
  min-height: 265px;
}
.offcanvas label.form-check-label {
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
}
.offcanvas .checkbox-group {
  display: flex;
  align-items: center;
}

.filter_item {
  border-bottom: solid 1px #eaecf0;
  padding-bottom: 12px;
}
.filter_item .accordion-body {
  padding: 0;
}
.filter_item .accordion-item {
  border: none;
}
.filter_item .accordion-button {
  font-size: 14px;
  font-weight: 600;
  color: #344054;
  background-color: #fff;
  border: none;
  padding: 8px 0;
  box-shadow: none;
}
.filter_item .accordion-button:hover, .filter_item .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.filter_item .accordion-button::after {
  background-size: 80%;
}
.filter_item .btn-link {
  font-size: 12px;
  color: #3538cd;
  margin-left: 22px;
  font-weight: 600;
  padding: 2px;
}
.filter_item .filter_itemlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter_item .filter_itemlist .inline-checkbox {
  display: flex;
  align-items: center;
}
.filter_item .filter_itemlist .form-check-input {
  border-color: #d0d5dd;
  position: relative;
  top: -1px;
  border-radius: 4px;
}
.filter_item .filter_itemlist .form-check-label {
  color: #1d2939;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 500;
}
.filter_item .fltitem_title {
  font-size: 14px;
  font-weight: 600;
  color: #344054;
  margin: 12px 0;
}

.filter_warp.offcanvas-body {
  padding-top: 10px;
}

.btn-light-outline:hover path {
  stroke: #fff;
}

.btn-light-gray {
  background-color: #f9fafb !important;
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 6px 12px;
  color: #344054;
  border-color: #eaecf0;
  border-radius: 40px;
}
.btn-light-gray:hover {
  color: #344054;
  border-color: #eaecf0;
}

.text-primary {
  color: #4c60e5 !important;
}

.tagarea {
  border: solid 1px #dee2e6;
  padding: 15px 15px 8px 15px;
  border-radius: 8px;
  min-height: 100px;
}
.tagarea .badge-gray {
  background-color: #f9fafb;
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 6px 12px;
  color: #344054;
  border: solid 1px #eaecf0;
  border-radius: 40px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}
.tagarea .badge-gray.active {
  background-color: #eef4ff;
  border-color: #c7d7fe;
  color: #3538cd;
}
.tagarea .badge-gray.active::before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #3538cd;
  margin-right: 5px;
}
.tagarea .badge-gray .badge.bg-light {
  border: solid 1px #D0D5DD;
  height: 24px;
  padding: 0 0 0 10px;
  line-height: normal;
  border-radius: 5px;
}
.tagarea .badge-gray .badge.bg-light .btn {
  font-size: 13px;
  color: #98A2B3;
  padding: 1px 8px;
}
.tagarea .badge-gray .form-control {
  border: none;
  font-size: 12px;
  padding: 0 5px;
  display: inline-block;
  width: auto;
}
.tagarea .tag-white {
  background-color: #ffffff;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 5px 12px;
  color: #344054;
  border: solid 1px #d0d5dd;
  border-radius: 6px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}
.tagarea .tag-white .fa-close {
  color: #98a2b3;
  font-size: 14px;
  position: relative;
  top: 2px;
  right: -2px;
  cursor: pointer;
}

.sm-label {
  font-size: 12px;
  font-weight: 500;
  color: #344054;
  margin-bottom: 0.3rem;
}

.required_text {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.76);
  z-index: 9999;
}
.loader-overlay .spinner-border {
  border-color: #081da5;
  border-right-color: transparent;
}

.bg-lightgray {
  background-color: #f9fafb;
}

.fixedLeft {
  background-color: #fff;
  position: fixed;
  left: 0;
  padding: 0px;
  height: 100%;
}

.jobpre_leftpanel {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  width: 12%;
  background-color: #fff;
  position: fixed;
  left: 0;
  padding: 0px;
  height: 100vh;
}
.jobpre_leftpanel .checklist {
  margin: 0;
  padding: 0;
}
.jobpre_leftpanel .checklist li {
  border-left: solid 2px #d0d5dd;
  line-height: 24px;
}
.jobpre_leftpanel .checklist li a {
  color: #667085;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.jobpre_leftpanel .checklist li.active {
  border-color: #067647;
  background-color: #f6fef9;
}
.jobpre_leftpanel .checklist li.active a {
  color: #067647;
}
.jobpre_leftpanel .checklist li.active .fa {
  color: #067647;
  background-color: #f6fef9;
  border-color: #067647;
}
.jobpre_leftpanel .checklist li .fa {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: solid 1px #d0d5dd;
  border-radius: 50%;
  color: #d0d5dd;
  font-size: 8px;
  text-align: center;
  line-height: 12px;
}
.jobpre_leftpanel h6 {
  font-size: 15px;
  margin-bottom: 12px;
  margin-top: 30px;
}

.jobMain_panel {
  margin-left: 12%;
  margin-right: 18%;
  padding: 24px 20px 20px 0;
  box-sizing: border-box;
  width: 66%;
  position: relative;
}
.jobMain_panel .accordion-item {
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
  border: solid 1px #e0eaff !important;
  background-color: #f5f8ff;
}
.jobMain_panel .accordion-header .accordion-button {
  font-size: 14px;
  color: #1d2939;
  font-weight: 600;
  padding: 15px 14px;
  justify-content: space-between;
}
.jobMain_panel .accordion-header .accordion-button .flag_icon {
  position: absolute;
  right: 15px;
  width: 17px;
  height: 17px;
}
.jobMain_panel .accordion-header .accordion-button .flag_icon2 {
  position: absolute;
  right: 22px;
  top: 24px;
  width: 17px;
  height: 17px;
}
.jobMain_panel .accordion-header .accordion-button:not(.collapsed) {
  background-color: #f5f8ff;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #e0eaff;
}
.jobMain_panel .accordion-header .imprt_icon {
  color: #d0d5dd;
  margin: 0 3px;
}
.jobMain_panel .accordion-header .count {
  color: #667085;
  font-size: 12px;
  font-weight: 500;
}
.jobMain_panel .accordion-body p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #475467;
}
.jobMain_panel .to_divider {
  font-size: 12px;
  color: #667085;
  font-weight: 500;
}
.jobMain_panel .accd_child {
  background-color: #fff;
  border-color: #eaecf0 !important;
}
.jobMain_panel .accd_child .accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #eaecf0;
}
.jobMain_panel .accd_child .accordion-button::after {
  content: inherit;
}
.jobMain_panel .accd_child .accordion_footer {
  border-top: solid 1px #eaecf0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
  margin-bottom: -1rem;
}
.jobMain_panel .accd_child .accordion_footer .form-check-label {
  font-size: 13px;
}

.btn-lightgray {
  background-color: #fff;
  border: solid 1px #d0d5dd;
  color: #344054;
  font-size: 14px;
  font-weight: 600;
}
.btn-lightgray:hover {
  border-color: #444ce7;
  color: #444ce7;
}

.jobpre_Rightpanel {
  background-color: #fff;
  padding: 18px;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 18%;
}
.jobpre_Rightpanel h5 {
  font-size: 15px;
  color: #344054;
  margin-bottom: 5px;
}
.jobpre_Rightpanel h6 {
  font-size: 13px;
  color: #344054;
  margin-bottom: 5px;
}
.jobpre_Rightpanel p,
.jobpre_Rightpanel li {
  font-size: 12px;
  color: #667085;
  line-height: 18px;
}
.jobpre_Rightpanel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.jobpre_Rightpanel .user_bsinfo + .user_bsinfo {
  margin-top: 15px;
}
.jobpre_Rightpanel .ct_scrollbar {
  max-height: 43vh;
  overflow-y: auto;
}
.jobpre_Rightpanel .recomed_panel {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.06);
  margin-left: -16px;
  margin-right: -16px;
}
.jobpre_Rightpanel .recomed_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-top: solid 1px #D0D5DD; */
  padding: 12px 16px;
  border-bottom: solid 1px #d0d5dd;
}
.jobpre_Rightpanel .recomed_head h6 {
  font-size: 13px;
  margin: 0;
}
.jobpre_Rightpanel .recomed_head .progress {
  width: 110px;
  height: 8px;
}

.rects_list2 {
  margin: 0;
  padding: 0;
}
.rects_list2 li {
  background-color: #f3f5f7;
  padding: 6px 8px;
  border-radius: 16px;
  border: solid 1px #eaecf0;
  list-style: none;
  margin: 12px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rects_list2 li p {
  font-size: 12px;
  font-weight: 400;
  color: #344054;
  margin: 0;
}
.rects_list2 li svg {
  margin-right: 4px;
  min-width: 12px;
}
.rects_list2 li.active p {
  color: #3538cd;
}
.rects_list2 li.active path {
  stroke: #3538cd;
}

.text-danger {
  color: #f97066 !important;
}

.italic {
  font-style: italic;
}

.w-auto {
  width: auto;
}

.w-150 {
  width: 150px;
}

.sm-fselect {
  min-height: 34px;
  font-size: 12px;
  border-radius: 6px;
}

.applicant_info {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #c7d7fe;
  border-radius: 8px;
  display: flex;
  align-items: center;
  max-width: 75%;
}
.applicant_info li {
  width: 25%;
  padding: 8px 15px;
  border-right: solid 1px #c7d7fe;
  font-size: 13px;
  color: #1d2939;
}
.applicant_info li:last-child {
  border-right: none;
}
.applicant_info li p {
  margin-bottom: 8px;
  font-size: 13px !important;
  color: #1d2939 !important;
}
.applicant_info li h6 {
  font-size: 13px;
  margin-bottom: 10px;
}
.applicant_info li strong {
  font-weight: 600;
}

.badge {
  font-size: 12px;
  color: #344054;
  font-weight: 400;
  padding: 5px 8px;
  border-radius: 40px;
  border: solid 1px;
}

.bg-success {
  background-color: #ecfdf3 !important;
  border-color: #abefc6 !important;
}

.bg-danger {
  background-color: #fef3f2 !important;
  border-color: #fecdca !important;
}

.bg-warning {
  background-color: #fffaeb !important;
  border-color: #fedf89 !important;
}

.range-slider-wapper {
  max-width: 435px;
}
.range-slider-wapper .valuetext {
  font-size: 12px;
  color: #101828;
}

.range-slider-container {
  position: relative;
  width: 100%;
  height: 4px;
  margin: 5px 0;
}

.range-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background: #ddd;
  width: 100%;
  border-radius: 2px;
}

.range-active {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background: #007bff;
  border-radius: 2px;
}

.range-input {
  position: absolute;
  width: 100%;
  height: 0;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: all;
  z-index: 3;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.range-input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.range-input::-webkit-slider-runnable-track {
  background: transparent;
}

.skills_seraching .btn {
  padding: 7px 15px;
  min-height: 40px;
}

.starttag_box {
  border: solid 1px #eaecf0;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
}
.starttag_box .stagbox_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.starttag_box .stagbox_head h6 {
  font-size: 13px;
}

.stag_list .stag_item {
  background-color: #ffffff;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 5px 12px;
  color: #475467;
  border: solid 1px #d0d5dd;
  border-radius: 40px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.stag_list .stag_item.active {
  border-color: #6172F3;
}

.text-primerylight {
  color: #6172F3 !important;
}

.tag_remove {
  border: solid 2px #6172F3;
  width: 14px;
  height: 14px;
  line-height: 12px !important;
  text-align: center;
  font-size: 9px;
  border-radius: 50%;
  cursor: pointer;
  color: #6172F3;
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: 2px 4px;
  font-size: 14px;
  margin-left: 5px;
  color: #667085;
}

.input-container {
  display: inline-block;
}
.input-container .remove-tag {
  position: absolute;
  right: 11px;
  top: 6px;
  border: solid 2px #4c60e5;
  width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.ql-editor img {
  max-width: 100%;
  max-width: 100px;
  display: block;
  border: solid 1px #bac5da;
  padding: 4px;
  border-radius: 4px;
}

.lw-toolbar {
  position: absolute;
  right: -29px;
  top: 70px;
}
.lw-toolbar ul {
  margin: 0;
  padding: 6px;
  list-style: none;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.lw-toolbar li {
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
}
.lw-toolbar li a {
  color: #475467;
  font-size: 13px;
}

.border_box {
  min-height: 34px;
  font-size: 12px;
  border-radius: 6px;
  color: #344054;
  font-weight: 500;
  border: solid 1px #D0D5DD;
  display: flex;
  align-items: center;
  padding: 7px 12px;
  width: 100%;
}

.hadding-xs {
  font-size: 13px;
  color: #344054;
  font-weight: 600;
}

.cmt_questions .form-check {
  margin: 10px 0;
}
.cmt_questions .form-check label {
  background-color: #F9FAFB;
  color: #1D2939;
  font-size: 12px;
  width: 350px;
  padding: 4px 8px;
}

.rects-panel.bottom_fixed {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.06);
  height: 100%;
  padding: 0 15px;
}

.behav_assmnt {
  background-color: #FCFCFD;
  border: solid 1px #EAECF0;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}
.behav_assmnt .assmntbox {
  border: solid 1px #EAECF0;
  padding: 8px;
  border-radius: 6px;
  background-color: #fff;
  min-height: 100px;
  margin: 5px;
}
.behav_assmnt .assmntbox.active {
  border-color: #444CE7;
  background-color: #F5F8FF;
}
.behav_assmnt .assmntbox.active .assmntbox-head h6 {
  color: #2D3282;
}
.behav_assmnt .assmntbox-head {
  display: flex;
  justify-content: space-between;
}
.behav_assmnt .assmntbox-head h6 {
  font-size: 14px;
  color: #101828;
}
.behav_assmnt .assmntbox-head i {
  color: #D0D5DD;
}
.behav_assmnt .assmntbox-body {
  margin-top: 10px;
}
.behav_assmnt .assmntbox-body p {
  color: #667085;
  font-size: 12px;
  margin-bottom: 0;
}

.perlity_mth h5 {
  font-size: 15px;
  margin-bottom: 5px;
}

.perlitymth-card {
  border: solid 1px #D0D5DD;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11);
}
.perlitymth-card .perlitymth-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.perlitymth-card .perlitymth-head .prtmth_icon {
  margin-right: 15px;
}
.perlitymth-card .perlitymth-head .prtmth_title {
  margin-top: 8px;
}
.perlitymth-card .perlitymth-head .prtmth_title h6 {
  font-size: 12px;
}
.perlitymth-card .perlitymth-head .prtmth_title span {
  color: #4C60E5;
  font-size: 12px;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 100%;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }
}
.texteditor_warp {
  position: relative;
}
.texteditor_warp .custome_file {
  border-bottom: none;
  border-radius: 0;
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.custome_file {
  border: solid 1px #ddd;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
}
.custome_file input[type=file] {
  font-size: 12px;
}

.no-bottom-border-transparent {
  border-bottom: 1px solid white !important; /* Sets bottom border to transparent */
  box-shadow: none !important; /* Remove any shadow that may appear on focus */
  margin-top: 2;
}

.error-border {
  border: 1px solid red;
}

.modal-dialog.modal-md {
  max-width: 800px;
}

.indleffort-mdl .modal-header {
  background-color: #FFE6D5;
  box-shadow: none;
}
.indleffort-mdl .modal-header button.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.indleffort-mdl .modal-header img {
  width: 240px;
}
.indleffort-mdl .modal-header .modal-title {
  color: #1D2939;
  font-size: 48px;
  left: 20%;
  bottom: -35px;
  position: relative;
}
.indleffort-mdl .modal-header .count {
  border: solid 1px #F7B27A;
  background-color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 48px;
  color: #EF6820;
  font-size: 30px;
  margin: auto;
}
.indleffort-mdl .h2_title {
  color: #1D2939;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.indleffort-mdl .h2_title .count {
  border: solid 1px #F7B27A;
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  color: #EF6820;
  font-size: 26px;
  margin-right: 8px;
}
.indleffort-mdl .indleffort-text {
  padding: 10px 55px;
}
.indleffort-mdl .indleffort-text p {
  font-size: 12px;
  color: #475467;
  line-height: 20px;
}
.indleffort-mdl .indleffort-text ul {
  margin: 0;
  padding: 0;
  border-top: solid 1px #D0D5DD;
  padding-top: 15px;
}
.indleffort-mdl .indleffort-text ul li {
  list-style: none;
  color: #475467;
  font-size: 12px;
  display: flex;
}
.indleffort-mdl .indleffort-text ul li strong {
  color: #1D2939;
  margin-right: 20px;
  font-weight: 600;
  min-width: 100px;
}/*# sourceMappingURL=main.css.map */