@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
  color: #475467;
  background-color: #F9FAFB;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #101828;
}

a {
  text-decoration: none;
}

.authcover-bg {
  background-color: #F5F8FF;
}

.min-h-full {
  min-height: 100vh;
}

.authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.authentication-wrapper .app-brand {
  position: absolute;
  z-index: 1;
  inset-block-start: 2.5rem;
  inset-inline-start: 1.5rem;
}

.authinfo_slider {
  padding: 0 38px;
}
.authinfo_slider h2 {
  font-size: 2.25rem;
  line-height: 52px;
  margin-bottom: 30px;
  color: #344054;
  font-family: "Sofia Pro Bold";
  font-weight: normal;
}
.authinfo_slider p {
  font-size: 17px;
  padding: 0 5%;
  color: #667085;
  font-family: "Sofia Pro Light";
  font-weight: normal;
}

.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators [data-bs-target] {
  background-color: #EAECF0;
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  margin: 0 8px;
  opacity: 1;
}
.carousel-indicators .active {
  background-color: #3538CD;
}

.w-px-400 {
  width: 360px !important;
}

.authent-form h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 0.4rem;
  color: #344054;
  font-size: 14px;
  font-weight: 500;
}

.form-control {
  color: #344054;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  min-height: 44px;
  border-color: #D0D5DD;
}

.btn-primary {
  background-color: #444CE7 !important;
  border-radius: 8px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 8px 15px;
}

.btn-full {
  width: 100%;
  height: 44px;
}

.form-group {
  margin-bottom: 25px;
}

.text-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.resend_otp {
  font-size: 14px;
  margin-top: 5px;
}
.resend_otp .re-otpbtn {
  font-weight: 600;
  text-decoration: none;
}

.text-primery {
  color: #4C60E5;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  opacity: 0.95;
  background-color: #C7D7FE !important;
  border-color: #C7D7FE !important;
}

.font-weight-600 {
  font-weight: 600;
}

.text-base {
  font-size: 14px;
}

.relative {
  position: relative;
}

.pass_eyeicon {
  position: absolute;
  right: 15px;
  top: 42px;
  cursor: pointer;
  font-size: 14px;
}

.forgot_pass {
  font-size: 14px;
  font-weight: 500;
}
.forgot_pass .forgot_btn {
  font-weight: 600;
}

.pass_instructor p {
  color: #100D37;
  font-size: 0.78rem;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.pass_instructor ul {
  margin: 0;
  padding: 0;
}
.pass_instructor ul li {
  list-style: none;
  color: #667085;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.pass_instructor ul li img {
  margin-right: 6px;
}
.pass_instructor ul li.active {
  color: #100D37;
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  height: 100%;
  width: 90px;
}
.sidebar-wrapper .sd_logo {
  text-align: center;
  padding: 20px 10px;
}
.sidebar-wrapper nav.sidebar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-wrapper nav.sidebar-menu ul li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  font-size: 12px;
  font-weight: 500;
  color: #667085;
}
.sidebar-wrapper nav.sidebar-menu ul li.active {
  background-color: #F5F8FF;
}

.main_header {
  position: fixed;
  background-color: #fff;
  right: 0;
  width: calc(100% - 90px);
  box-shadow: none;
}

.page-body {
  margin-left: 90px;
  padding-top: 80px;
  padding-left: 15px;
}

.header-wrapper.row {
  padding: 16px 35px;
  display: flex;
  align-items: center;
}
.header-wrapper.row .org_name {
  display: flex;
  align-items: center;
}
.header-wrapper.row .org_name span {
  background-color: #EEF4FF;
  border: solid 1px #A4BCFD;
  font-size: 16px;
  color: #2D3282;
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
}
.header-wrapper.row .org_name p {
  margin: 0 0 0 10px;
  font-size: 14px;
  color: #344054;
  font-weight: 600;
}
.header-wrapper.row .header_right {
  display: flex;
  justify-content: end;
}
.header-wrapper.row .header_right button.hed_notifaction {
  border: none;
  background-color: transparent;
  margin-right: 12px;
  padding: 10px;
  position: relative;
}
.header-wrapper.row .header_right .hed_username {
  background-color: #F2F4F7;
  border: solid 1px #d8d8d8;
  font-size: 16px;
  color: #475467;
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
}
.header-wrapper.row .header_serach .form-control {
  min-height: 40px;
  border-color: #D0D5DD;
}

ol.breadcrumb {
  margin: 15px 0;
}

.h1_welcometext {
  text-align: center;
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  color: #475467;
  padding-bottom: 15px;
  border-bottom: solid 1px #D0D5DD;
  margin-bottom: 30px;
}

.mdt_card.card {
  border-color: #EAECF0;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
}
.mdt_card.card .card-title {
  font-size: 14px;
  color: #475467;
  font-weight: 400;
  margin: 18px 0;
}
.mdt_card.card span.mdt_name {
  background-color: #EEF4FF;
  border: solid 1px #A4BCFD;
  font-size: 16px;
  color: #2D3282;
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  margin: auto;
}
.mdt_card.card .btn-primary {
  min-width: 200px;
  margin-top: 4px;
}

.com_infotext {
  padding: 20px 40px 0 45px;
}
.com_infotext p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #667085;
  margin-top: 15px;
}/*# sourceMappingURL=main.css.map */